div.brainbox {
  background: #EEF3F4;
  padding:1em;
}
div.brainbox::before {
  content: url('../assets/brain.svg');
  width:3em;
  float:left;
  margin-right:1em;
}
div.brainbox > span {
  overflow:hidden;
  display: block;
}

